In [1]:
import numpy as np
import pandas as pd

In [12]:
students = pd.read_csv('students.csv')

In [3]:
df = pd.read_csv("weather_by_cities.csv")

In [10]:
df = df.sample(frac=1).reset_index(drop=True)

In [11]:
df

         day      city  temperature  windspeed   event
0   1/2/2017     paris           50         13  Cloudy
1   1/4/2017  new york           33          7   Sunny
2   1/2/2017  new york           36          7   Sunny
3   1/3/2017    mumbai           87         15     Fog
4   1/3/2017  new york           28         12    Snow
5   1/4/2017    mumbai           92          5    Rain
6   1/4/2017     paris           42         10  Cloudy
7   1/1/2017    mumbai           90          5   Sunny
8   1/1/2017     paris           45         20   Sunny
9   1/1/2017  new york           32          6    Rain
10  1/2/2017    mumbai           85         12     Fog
11  1/3/2017     paris           54          8  Cloudy

In [8]:
groups = df.groupby('city')

In [9]:
for key, group in groups:
    print(key)
    print(group)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

<img src="group_by_cities.png" alt="Drawing" style="width: 800px;"/>